<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../../static/css/registro.css">
</head>
<body>
    <div class="container">
        <a href="#" class="back-button">&larr;</a>
        <h1 class="title">Registro.</h1>
        
        <div class="form-container">
            <input type="email" placeholder="Correo electrónico." class="input-field">
            <input type="text" placeholder="Nombre de usuario." class="input-field">
            
            <div class="password-container">
                <input type="password" placeholder="Contraseña." class="input-field small">
                <input type="password" placeholder="Confirmar contraseña." class="input-field small">
            </div>

            <button class="submit-button">Confirmar Registro.</button>
        </div>
        
        <img src="logo.png" alt="Logo" class="logo">
    </div>
</body>
</html>
