<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicaciones</title>
    <!-- Enlazamos el archivo CSS -->
    <link rel="stylesheet" href="{% static 'css/ubicacion.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="titulo">Lista de Ubicaciones</h1>
        <ul id="ubicaciones-list" class="ubicaciones-list">
            <!-- Las ubicaciones se cargarán aquí dinámicamente -->
        </ul>
    </div>

    <!-- Enlazamos el archivo JS -->
    <script src="{% static 'js/ubicacion_script.js' %}"></script>
</body>
</html>


<!--
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicaciones</title>
</head>
<body>
    <h1>Lista de Ubicaciones</h1>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>País</th>
        </tr>
        {% for ubicacion in ubicaciones %}
        <tr>
            <td>{{ ubicacion.nombre_ubicacion }}</td>
            <td>{{ ubicacion.direccion }}</td>
            <td>{{ ubicacion.ciudad }}</td>
            <td>{{ ubicacion.pais }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay ubicaciones disponibles</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
-->
