* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }

  .containerD {
    text-align: left;
    padding: 20px;
  }

  .titleD {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .divider {
    width: 100%;
    height: 2px;
    background-color: #a02040;
    margin: 10px 0 20px;
  }

  .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 900px;
    margin: auto;
  }
  
  .botoneliminar {
    background: #8b1e2e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .botoneliminar:hover {
    background: #6f1724;
  }